:root{
    --primary-color:#ffffff;
    --font-color:#000000;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body {
    color:var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 20px;
    background-color:#808080;
    color:var(--font-color) ;
}

header h1 {
    color: var(--font-color);
    display: inline;
    font-weight: bold;
    font-size: 36px;
}

header a {
    text-decoration: none;
    color:var(--font-color);
}

header nav {
    float:right;
    margin: 10px 0;
}

header nav ul li {
    display:inline;
}

header nav ul li a {
    margin: 0 25px;
    font-size: 25px;
    font-weight: lighter;
}

.hero {
    background-image: url(../images/Me.jpg);
    height: 500px;
    position: relative;
    background-color: #808080;
    background-size: cover;
}